.lap-1{
    flex-direction: row;
    display: flex;
    justify-content: space-between;    
    margin-right: 20px;
    margin-left: 20px;
    background-color: blanchedalmond;
}
.lap-2{
    flex-direction: row;
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;   
    margin-right: 10px;
    margin-left: 10px;
}
.lape-1{
    box-shadow: 0  2px 2px rgba( 0,0,0,1);
    width: 300px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(253, 250, 253);
    padding-top: 50px;
    border-radius: 10px;
    padding-left: -20px !important;
    text-align: center;
    
}
@media(max-width:768px){
    .lap-1,.lap-2{
        flex-direction: column;
        background-color: none;
        background-color: white;
        margin-left: 40px;
        
    }
    .lape-1{
        font-size: medium;
        text-align: center;
    }
}
